/db/data

/proto/build

/api/build
/api/node_modules
/api/proto
/api/config
/api/.env
/api/apiDoc.yml

/users/build
/users/node_modules
/users/proto
/users/config
/users/.env

/exchange/build
/exchange/node_modules
/exchange/proto
/exchange/config
/exchange/.env

/test